<% if flash.has_key?(:delete) %> 
<%= flash[:delete] %> 
<% end %>

<% if flash.has_key?(:notdelete) %> 
<%= flash[:notdelete] %> 
<% end %>


<h1> Welcome, <%= current_user.username %> </h1>

<h2> Here are all of the classes taken as a part of the yogathon </h2>

<% @yogaclasses.each do |yogaclass| %>
  <div>
    <a href="/yogaclasses/<%= yogaclass.id %>"><%= yogaclass.yogaclass %></a>
    <%= yogaclass.instructor %>
    <%= yogaclass.description %>
    <%= yogaclass.date %>

  </div>
<% end %>


<br><h3>What next?</h3>
<a href="/yogaclasses/new">Add a class to count it in the yogathon!</a>
<a href="/yogaclasses"> <br> View all classes taken in the Yogathon:</a>
<a href="/users/leaderboard"> <br> View the leaderboard</a>
<a href="/users/<%= current_user.slug %>"> <br> View your profile</a>
<a href="/logout"> <br> Logout</a>
