<h1>This is the Model's index page. This Shows all classes taken as a part of the Yogathon.</h1>


<p> Welcome, <%= current_user.username %>
<h2> Here are all of the classes taken as a part of the yogathon </h2>

<% @yogaclasses.each do |yogaclass| %>
  <div>
    <%= yogaclass.yogaclass %>
    <%= yogaclass.instructor %>
    <%= yogaclass.description %>
    <%= yogaclass.date %>
  </div>
<% end %>
