<% if flash.has_key?(:yogaclass) %> 
<%= flash[:yogaclass] %> 
<% end %>

<h1>This is your yoga class:</h1>
<br>
<br>
<h2><%= @yogaclass.yogaclass %></h2>
<p>Instructor: <%= @yogaclass.instructor %></p>
<p>Description: <%= @yogaclass.description %></p>
<p>Date: <%= @yogaclass.date %></p>

<br>
<br>
<br>

<form action="/yogaclasses/<%= @yogaclass.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Yogaclass">
</form>

<h3>What next?</h3>
<a href="/yogaclasses/<%= @yogaclass.id %>/edit">Edit Class</a>
<a href="/yogaclasses"> <br> View all classes taken in the Yogathon</a>
<a href="/users/leaderboard"> <br> View the leaderboard</a>
