<h1>Here are each of the Yoga Classes taken by this User.</h1>

<h2><%= @user.username%>'s Yoga Classes</h2>

<% @user.yogaclasses.each do |yogaclass| %>
  <div>
    <%= yogaclass.yogaclass %>
    <%= yogaclass.instructor %>
    <%= yogaclass.description %>
    <%= yogaclass.date %>
  </div>
<% end %>