<h1>Here are all of the classes that you have taken as a part of the Yogathon.</h1>

<h2><%= @user.username%>'s Yoga Classes</h2>

<% @user.yogaclasses.each do |yogaclass| %>
    <%= yogaclass.yogaclass %>
    <%= yogaclass.instructor %>
    <%= yogaclass.description %>
    <%= yogaclass.date %>
<% end %>
