<h1><%= @user.username%>'s Yogathon Classes</h1>

<h3> <%= @user.username%> has taken <%=@user.yogaclasses.count%> classes as a part of the Yogathon!</h3>

<h3> <%= @user.username%> has <%= 30- @user.yogaclasses.count%> classes left to go!</h3>

<h3>Here are all of the classes that <%= @user.username%> has taken: </h3>

<% @user.yogaclasses.each do |yogaclass| %>
  <p><%= yogaclass.yogaclass %> <%= yogaclass.date %></p>
<% end %>

<h3>What next?</h3>
<a href="/yogaclasses"> <br> View all classes taken in the Yogathon</a>
<a href="/yogaclasses/new"> <br> Add a class to your profile</a>
<a href="/users/leaderboard"> <br> View the leaderboard</a>
<a href="/logout"> <br> Logout</a>
